body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
}

.links,
.section {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
}

li,
.secondary-text,
.cta-text {
  color: #e5e7eb;
}

.logo,
.hero {
  color: #f9faf8;
  margin: 0;
  padding: 20px;
}

.header {
  align-items: center;
}

.logo {
  font-size: 24px;
  padding: 20px;
}

ul {
  list-style-type: none;
  gap: 18px;
}

li {
  font-size: 18px;
}

.hero {
  font-size: 48px;
  font-weight: bolder;
}

.image-container {
  max-width: 400px;
  height: auto;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
  border: solid #3882f6 2px;
  border-radius: 8px;
  padding: 3px 15px;
}

.information-image {
  max-width: 200px;
  height: auto;
  border: solid #3882f6 2px;
  border-radius: 16px;
}

.information-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 0;
}

.info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 250px;
}
.info-title {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 20px;
}

.info-text {
  max-width: 250px;
}

.grey-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
}

#sign {
  align-self: flex-end;
  font-weight: bolder;
  max-width: 300px;
  font-size: 24px;
  margin: 0;
}
.quote {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  max-width: 800px;
  /* justify-self: center; */
}

.cta {
  display: flex;
  justify-content: space-evenly;
  margin: 70px 10px;
  padding: 30px;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 10px;
}
.cta-title {
  font-weight: bolder;
}

.cta-button {
  background-color: #3882f6;
  color: #f9faf8;
  border: solid #f9faf8 2px;
  border-radius: 8px;
  padding: 3px 15px;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 30px;
  color: #f9faf8;
}
