body {
  margin: 0;
  padding: 0;
}

.header,
.links,
.section {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
}

li,
.secondary-text {
  color: #e5e7eb;
}

.logo,
.hero {
  color: #f9faf8;
  margin: 0;
  padding: 20px;
}

.header {
  align-items: center;
}

.logo {
  font-size: 24px;
  padding: 20px;
}

ul {
  list-style-type: none;
  gap: 18px;
}

li {
  font-size: 18px;
}

.hero {
  font-size: 48px;
  font-weight: bolder;
}

.image-container {
  max-width: 400px;
  height: auto;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
}
