body {
  margin: 0;
  padding: 0;
}

.header,
.links,
.section {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
}

li,
.secondary-text {
  color: #e5e7eb;
}

.logo,
.hero {
  color: #f9faf8;
  margin: 0;
  padding: 20px;
}

.header {
  align-items: center;
}

.logo {
  font-size: 24px;
  padding: 20px;
}

ul {
  list-style-type: none;
  gap: 18px;
}

li {
  font-size: 18px;
}

.hero {
  font-size: 48px;
  font-weight: bolder;
}

.image-container {
  max-width: 400px;
  height: auto;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
  border: solid #3882f6 2px;
  border-radius: 8px;
  padding: 3px 15px;
}

.information-image {
  max-width: 200px;
  height: auto;
  border: solid #3882f6 2px;
  border-radius: 16px;
}

.information-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.info-title {
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  padding: 20px;
}
